<mat-list>
    <mat-list-item *ngFor="let folder of (allFolders$ | async)">
        <span class="folder-name" routerLink="{{folder.id}}">{{folder.name}}</span>
        <span class="material-icons" (click)="deleteFolder(folder.id)">delete</span> 
    </mat-list-item>
</mat-list>

<form [formGroup]="newFolder" class="add" (ngSubmit)="addFolder(name.value)">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Add a new Folder</mat-label>
        <input matInput formControlName="name" #name class="add-item" type="text" placeholder="">
        
        <div *ngIf="newFolder.get('name') as field">
            <app-errors-presenter [errors]="field.errors" *ngIf="field.touched"></app-errors-presenter>
        </div>

    </mat-form-field>

    <button [disabled]="newFolder.invalid" class="button" style="vertical-align:middle">
        <span>+</span>
    </button>
</form>