:host{
    display: flex;
    flex-direction: column;
    margin: 50px;
}

mat-list-item{
    max-width: 350px;
    display: flex;
}

mat-list-item:hover{
    cursor: pointer;
    background-color: rgb(252, 243, 239);
}

form{
    margin: 10px;
}

input{
    height: 25px;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #4f5fbd;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 60px;
    height: 35px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }