<app-curr-state></app-curr-state>

<table>
    <thead>
        <tr>
            <th>From</th>
            <th>Subject</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let mail of (allMails$ | async)">
            <td routerLink="{{mail.id}}">
                <span [style.font-weight]="showBoldness(mail.isRead)">{{mail.from}}</span>
            </td>
            <td>
                <span class="material-icons" value="flag" [style.color]="showFlagColor(mail.isFlagged)" (click)="changeFlagColor(mail.id)">flag</span>

                <span routerLink="{{mail.id}}">
                    <span [style.font-weight]="showBoldness(mail.isRead)">{{mail.subject}}</span>
                </span>
            </td>
        </tr>
    </tbody>
</table>