a{
    color: white;
    text-decoration: none;
    padding: 8px;
}

a:hover{
    color: rgb(250, 191, 135);
}

a.here{
    color: rgb(250, 155, 67);
}

.seperator{
    margin: 15px;
    background-color: white;
}